
$white: #fff;
$blue: #0C70F2;
$black: #2D2D2D;
$alt-font: 'Poppins', sans-serif;
$main-font: 'Raleway', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: $black;
    -webkit-font-smoothing: antialiased;
}